:root {
  --primary: #7ba05b;
  --bg: #b89068;
  --text: #fafaf5;
  --bgsecound: #f5f1e3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bgsecound);
  color: #333;

}

/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #fafaf5;
  border-bottom: 1px solid #d3d3ce;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.navbar .navbar-logo, 
.about h2 span,
.menu h2 span,
.contact h2 span{
  background: linear-gradient(
    to right,
    #5f7c47,   /* deep elegant matcha */
    #7ba05b,   /* main matcha soft green */
    #9bbf7b,   /* lighter elegant tone */
    #cfe6b6,   /* creamy matcha highlight */
    #9bbf7b,   /* fade back soft */
    #7ba05b,   /* main color again */
    #5f7c47    /* deep calm finish */
  );
  background-size: 180%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}
@keyframes animate-gradient{
  to{
    background-position: 200%;
  }
}



.navbar .navbar-logo {
  font-family: "Baloo 2", sans-serif;
  font-size: 2.7rem;
  font-weight: 700;
color: var(--primary);
}

.img-logo{
  width: 3rem;
}



.navbar .navbar-logo span,
.about h2,
.menu h2,
.contact h2{
  background: linear-gradient(
    to right,
    #ff6a2e,   /* deep sunset orange */
    #ff8540,   /* warm orange */
    #ff9f5a,   /* soft peachy orange */
    #ffb97a,   /* light pastel sunset */
    #ffe0b2,   /* glowing golden sunset */
    #ffb97a,   /* fade back */
    #ff8540,   /* warm orange again */
    #ff6a2e    /* deep sunset finish */
  );
  background-size: 180%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}





.navbar .navbar-nav a {
  font-family: "Marcellus", serif;
  color: var(--primary);
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: var(--primary);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--primary);
}

#hamburger-menu {
  font-size: 35px;
  cursor: pointer;
  display: none;
}

/*hero section*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/pexels4-minan1398-911810.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

}


.hero {
  position: relative;
  overflow: hidden;
}

.hero::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  bottom: 0;

  /* warna terakhir sesuai background kamu (#f6f3db contoh) */
  background: linear-gradient(
    rgba(247,243,207,0) 8%,
    #f6f3db 50%
  );
  
  
  pointer-events: none;
}
.hero .content{
  padding: 1.4rem 6%;
  max-width: 60rem;
}
.hero .content h1{
  font-family: "Gloock", serif;
  font-size: 4rem;
  color: var(--text);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.558);
  line-height: 1.2;
}



.hero .content h1 span {
  text-shadow: none;
  background: linear-gradient(
    to right,
    #5f7c47,   /* deep elegant matcha */
    #7ba05b,   /* main matcha soft green */
    #9bbf7b,   /* lighter elegant tone */
    #cfe6b6,   /* creamy matcha highlight */
    #9bbf7b,   /* fade back soft */
    #7ba05b,   /* main color again */
    #5f7c47    /* deep calm finish */
  );
  background-size: 180%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}
@keyframes animate-gradient{
  to{
    background-position: 200%;
  }
}



.hero .content p{
  color: #eef4e8;
  font-size: 1.6rem;
  margin-top: 10px;
  line-height: 1.4;
  font-weight: 200;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.20);
}

.hero .content .cta{
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: var(--text);
  background-color: var(--primary);
  border-radius: 10px;
  border: 1px solid #7ba05baa;
  box-shadow: 0 0 5px #7ba05b89;
  cursor: pointer;
  transition: 0.3 ease-in-out;
}
.hero .content .cta:hover{
  box-shadow: 0 0 15px #7ba05b;}



/*about section*/
.about{
  padding: 8rem 7% 1.4rem;
}

.about h2{
  color: var(--bg);
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
 
}

.about h2 span{
  color: var(--primary);
}
.about .row{
  display: flex;
}
.about .row .about-img{
  flex: 1 1 45rem;
}
.about .row .about-img img{
  width: 100%;
}
.about .row .content{
  flex: 1 1 35rem;
  padding: 0 1rem;
}
.about .row .content h3{
font-size: 1.8rem;
margin-bottom: 1rem;
}
.about .row .content p{
font-size: 1.2rem;
font-weight: 300;
line-height: 1.4;
}

/*menu section*/
.menu{
padding: 8rem 7% 1.4rem;
}
.menu h2{
  color: var(--bg);
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 1rem;
}
.menu h2 span{
  color: var(--primary);
}
.menu p{
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 300;
  line-height: 1.6;
}

.menu .row{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  gap: 3rem;
}

.menu .row .menu-card{
  text-align: center;
  padding-bottom: 1.5rem;
}

.menu .row .menu-card img{
  border-radius: 50%;
  width: 250px, 80%;
  height: 250px;
  box-shadow: 0 0 10px var(--primary);
  border-radius: 20px;
  transition: .5s;
}
.menu .row .menu-card img:hover{
  box-shadow: 0 0 25px var(--primary);
}
.menu .row .menu-card .menu-card-title{
  margin-top: 1rem auto 0.5rem;
}


/*contact section*/
.contact{
  padding: 8rem 7% 1.4rem
}
.contact h2{
  color: var(--bg);
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 0.4rem;
}
.contact h2 span{
  color: var(--primary);
}
.contact p{
  text-align: center;
  max-width: 30rem;
  margin: 2px auto;
  font-weight: 300;
  line-height: 1.4;
}

.contact .row{
  display: flex;
  margin-top: 1.8rem;

}
.contact .row .map{
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  height: 29rem;
  border-radius: 2rem;
  border: 2px solid var(--bg)
}


.contact .row form{
  flex: 1 1 45rem;
  padding: 0 2rem 5rem;
  text-align: center;
}

.contact .row form .input-group{
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
  background-color: var(--text);
  border: 1px solid #eee;
  padding: 2rem;
  border-radius: 2rem;
  border: 2px solid var(--bg)
}

.contact .row form .input-group input{
  width: 100%;
  font-size: 1.7rem;
  background: none;

}

.contact .row form .btn{
  margin-top: 0;
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 1.7rem;
  color: var(--text);
  background-color: var(--bg);
  cursor: pointer;
  
}

/*footer*/
footer{
  background-color: var(--bg);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}
footer .social{
  padding: 1rem 0;
}
footer .social a{
  color: var(--text);
  margin: 1rem;
}
footer .social a:hover{
  color: var(--primary);
}

footer .links{
  margin-bottom: 1.4rem;
}
footer .links a:hover{
  color: var(--primary);
}

footer .links a{
  color: var(--text);
  padding: 0.7rem 1rem;
}

footer .credit{
font-size: 0.8rem;
}
footer .credit a{
  color: var(--text);
  font-weight: bold;
}






/*media queries*/

/*laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/*tablet*/
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(242, 238, 226, 0.92);
   
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: #7c5a35;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .navbar-extra a {
    margin-left: 10px;
  }

  .about .row{
    flex-wrap: wrap;
  }
  .about .row .about-img img{
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  .about .row .content{
    padding: 0;
  }
  .about .row .content h3{
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p{
    font-size: 1.6rem;
  }
  .menu p{
    font-size: 1.2rem;
  }
  .contact .row{
    flex-wrap: wrap;
  }
  .contact .row .map{
    height: 30rem;
  }
  .contact .row form{
    padding-top: 2rem;
  }
}
/*mobile*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
